  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  header, footer {
    background-color:whitesmoke;
    padding-top: 25px;
  }
  footer {
    padding-top: 50px;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
  
  p {
    color: #808080;
    padding: 25px;
    line-height: 1.5em;
  }
  
  img {
    width: 100%;
  }
  a {
   text-decoration: none; 
   color: black;
   font-weight: bold;
  }
   
  /* ----- class styles ----- */
  .hero {
    padding-bottom: 2em;
  }  
  ul {
    list-style: none;
  }
  ul,
  h1 {
    font-size: 16px;
  }
    .main-nav {
    padding: 0px;
    margin-bottom: 40px;
  }
  .nav-btn {
    background-color: white;
    margin: 10px 15px 10px 15px;
    padding: 20px;
  }
  .hero-img {
    max-width: 70%;
  }
  .ftr-item-1{
    order: 3;
  }
  .ftr-item-2,
  .ftr-item-3,
  .ftr-item-4 {
    visibility: hidden;
  }
  .footer-contain {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
  }
  .ftr-flex-container {
    justify-content: flex-end;
  }
  
  /* =========== ID Styles =========== */
  
  #top {
    font-weight: bold;
    font-size: 2em;
  }
  #portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* =========== Flexbox =========== */
  .ftr-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }
  
  /* =========== Media Queries =========== */
  @media screen and (min-width: 768px) {
    .main-header,
    .main-nav {
      display: flex;
    }
  
    .main-header {
      flex-direction: column;
      align-items: center;
    }
  
    .main-nav {
      margin-top: -5px;
    }
  
    .nav-btn {
      background-color: transparent;
    }
    .hero {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .hero-p {
      text-align: left;
      font-size: 1.15em;
      margin-top: 0px;
      padding-top: 0px;
      flex-grow: 4;
    }
    .hero-img {
      padding-right: 16px;
      padding-bottom: 16px;
    }
    .flexbox-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .flexbox-item {
      flex-basis: 47%;
    }
    .ftr-flex-container {
      display: flex;
      justify-content: space-between;
      flex-basis: 35%;
    }
    
    .ftr-item-2,
    .ftr-item-3,
    .ftr-item-4 {
    visibility: visible;
    }
    .ftr-item-1{
    display: none;
    }
    #portfolio-anchor {
      margin: 50px 0px 50px 0px;
    }
  }
  @media screen and (min-width: 1024px) {
    .main-header,
    .main-nav {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0px;
    }
    .nav-title {
      padding-left: 25px;
      padding-right: 25px;
    }
    .header-container {
      width: 100%;
      display: inline-flex;
      justify-content:space-between;
    }
    .main-header {
      margin: 0px 35px 30px 70px;
    }
    
    .flexbox-item {
      flex-basis: 30%;
    }
  }